.benefits {
  padding: 6rem 0;
  padding-bottom: 0;
  &__title {
    @include mobile {
      &::before {
        white-space: inherit;
        bottom: 0;
        top: unset;
      }
    }
  }
  &__container {
    display: flex;

    @include mobile {
      // flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &__item {
    padding: 3rem 2rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include tablet {
      padding: 2rem 1.5rem;
    }
    @include mobile {
      padding: 1rem;
    }
  }
  &__capture {
    display: block;
    font-size: 10rem;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: var(--text-color);

    @include tablet {
      font-size: 8rem;
    }
    @include mobile {
      font-size: 5rem;
    }
  }
  &__value {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 144%;
    text-align: center;

    @include tablet {
      font-size: 1.8rem;
    }
  }
}
