.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(#2760A7, 1);
  border-bottom: 1px solid rgba(#fff, .5);
  padding: .2rem 0;
  &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  &__logo {
      width: 32rem;
      height: 8rem;
      margin-right: 2rem;
      img {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
  }
  &__links {
      display: flex;
      margin-left: 5rem;
      gap: 2rem;
  }
  &__tel {
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      span {
          font-size: 1.5rem;
          text-align:right;
      }
  }

  &__bottom {
      border-bottom: 1px solid rgba(#fff, .5);
      border-top: 1px solid rgba(#fff, .5);

      background-color: rgba(#000, 1);
      padding: 1.5rem 0;

  }
}
