.licence {
  padding-top: 15rem;
  margin-bottom: 12rem;
  &__title {
    margin-bottom: 4rem;
    text-align: right;
    &::before {
      white-space: unset;
      top: unset;
      bottom: 2rem;
      line-height: 0.9;
    }
  }
  &__desc {
    margin-bottom: 5rem;
    text-align: right;
  }

  &__slider {
      display: flex;
      justify-content: space-around;

  }
  &__doc {
    background-color: #ccc;
    height: 65rem;
    min-width: 30%;
    max-width: 45%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -2rem;
      top: -2rem;
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }
}
