.reason {
  padding-top: 12rem;

  @include mobile {
    padding-top: 0rem;
  }
  &__title {
    text-align: right;
    justify-content: flex-end;
    @include mobile {
      text-align: left;
      justify-content: flex-start;
      font-size: 2.3rem;
    }
    &::before {
      left: unset;
      right: 0;
      top: unset;
      bottom: 70%;

      @include mobile {
        right: unset;
        left: 0;
        font-size: 3.6rem;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }

}
.reason-item {
  display: flex;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
  @include mobile {
    padding: 1rem 0;
  }
  &__icon {
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: var(--text-color);
    // background-color: rgba(#fff, .5);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    @include mobile {
      width: 6rem;
      height: 6rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 500;
    span {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--text-color);
    }
    @include mobile {
      font-size: 1.6rem;
    }
  }
}
