.services {
//   margin-bottom: 16rem;
  padding-top: 12rem;
}

.service {
  border: 1px solid #ccc;
  // border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem rgba(#000, .1);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40rem;
    height: 40rem;
    background-image: url('./../img/logo-sign.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(30%, 20%);
    opacity: 0.05;
  }
  &:not(:last-child){
    margin-bottom: 6rem;
  }
  &__image {
    grid-column: 5 span;

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      height: 100%;
    }
  }
  &__content {
    grid-column: 7 span;
    padding: 5rem;
  }

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 3.6rem;
    color: var(--text-color);
    font-weight: 700;

    text-transform: uppercase;
  }
  &__desc {
    margin: 0;
    font-size: 2rem;
    line-height: 144%;
    font-weight: 300;
    letter-spacing: 0.02em;
  }
}
