<section class="about" id="about">
  <div class="container">
    <div class="about__container">
      <div class="about__images">
        <div class="about__img">
          <picture>
            <source srcset="./img/about/03.webp" type="image/webp">
            <img src="./img/about/03.jpeg" alt="">
          </picture>
        </div>
      </div>
      <div class="about__content">
        <h2 class="title2 about__title" data-title="О компании">О компании</h2>
        <p class="about__desc desc">
          ЧОП "Орион" - ваш надежный страж порядка. Современные технологии, профессиональная команда и строгая конфиденциальность обеспечивают безупречную безопасность и спокойствие клиентов.
          Частное охранное предприятие "Орион" предлагает комплексные услуги по обеспечению безопасности объектов любой сложности. С момента основания компания зарекомендовала себя как надежный партнер, использующий современные технологии и индивидуальный подход к каждому клиенту. "Орион" гарантирует высокий уровень сервиса, профессионализм сотрудников и оперативное реагирование на возникающие угрозы. Безопасность клиентов — наша основная задача.
        </p>


      </div>
    </div>
  </div>
</section>
