<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title" data-title="ЧОП ОРИОН в цифрах">ЧОП ОРИОН в цифрах</h2>
    <div class="benefits__container">
      <div class="benefits__item">
        <span class="benefits__capture">
          14+
        </span>
        <span class="benefits__value">лет на рынке</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__capture">
          33+
        </span>
        <span class="benefits__value">отрасли клиент</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__capture">
          382+
        </span>
        <span class="benefits__value">подготовленных профессионалов</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__capture">
          153+
        </span>
        <span class="benefits__value">проекта комплексной безопасности</span>
      </div>
    </div>
    <div class="benefits__container">
      <div class="benefits__item">
        <span class="benefits__value">Собственное подразделение андроновой защиты</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__value">Собственная кинологическая служба</span>
      </div>

    </div>
  </div>
</section>
