<header class="header">

  <div class="header__container container">
      <a href="./" class="header__logo">
          <img src="./img/logo.png" alt="">
      </a>
      <nav class="nav header__nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#about" class="nav__link">О компании</a>
            </li>
            <li class="nav__item">
                <a href="#services" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item">
                <a href="#licence" class="nav__link">Лицензия</a>
            </li>
            <li class="nav__item">
                <a href="#offers" class="nav__link">Вакансии</a>
            </li>
            <li class="nav__item">
                <a href="#contacts" class="nav__link">Контакты</a>
            </li>
          </ul>
      </nav>
      <div class="header__links">
          <a href="#" class="header__tel" data-capture="Горячяя линия">
              <span>Горячяя линия</span>
              +7(996)399-86-11
          </a>
          <a href="#" class="header__tel">
              <span>Отдел кадров</span>
              +7(996)399-86-11
          </a>
      </div>
  </div>
</header>
