<section class="job">
    <section class="job-banner">
      <div class="job-banner__content">
        <h4 class="job-banner__title">
          Стабильная работа
          Карьерный рост - это ООО «ЧОП «Орион Секъюрити»
        </h4>
      </div>
      <div class="job-banner__image">
        <source srcset="./img/interview.webp" type="image/webp">
        <img src="./img/interview.jpg" alt="">
      </div>
    </section>

    <section class="job-offers" id="offers">
      <div class="container">
        <h2 class="title2 job-offers__title" data-title="Вакансии">Вакансии</h2>
        <div class="job-offers__items">
          <div class="job-offers__item job-item">
            <span class="job-item__title">Сотрудник охраны</span>
            <!-- <span class="job-item__price">от 2500₽/СМЕНА</span> -->
            <div class="job-item__content">
              <span class="job-item__capture">Требования:</span>
              <ul class="job-item__list">
                <li class="job-item__item">Мужчины/ женщины</li>
                <li class="job-item__item">От 25 до 55 лет</li>
                <li class="job-item__item">Гражданство РФ</li>
              </ul>
              <span class="job-item__capture">Режим работы: <span>16/8</span></span>
              <span class="job-item__capture">Сменный график: <span>сутки через двое</span></span>
            </div>
            <div class="job-item__bottom centered">
              <a href="tel:+7(999)3999921" class="btn job-item__btn" title="+7(999)399-99-21">Позвонить</a>
            </div>
          </div>
          <div class="job-offers__item job-item">
            <span class="job-item__title">Сотрудник охраны</span>
            <!-- <span class="job-item__price">от 2500₽/СМЕНА</span> -->
            <div class="job-item__content">
              <span class="job-item__capture">Требования:</span>
              <ul class="job-item__list">
                <li class="job-item__item">Мужчины/ женщины</li>
                <li class="job-item__item">От 25 до 55 лет</li>
                <li class="job-item__item">Гражданство РФ</li>
              </ul>
              <span class="job-item__capture">Режим работы: <span>16/8, 12/12</span></span>
              <span class="job-item__capture">Сменный график: <span>сутки через двое</span></span>
            </div>
            <div class="job-item__bottom centered">
              <a href="tel:+7(999)3999921" class="btn job-item__btn" title="+7(999)399-99-21">Позвонить</a>
            </div>
          </div>
          <div class="job-offers__item job-item">
            <span class="job-item__title">Сотрудник охраны</span>
            <!-- <span class="job-item__price">от 2500₽/СМЕНА</span> -->
            <div class="job-item__content">
              <span class="job-item__capture">Требования:</span>
              <ul class="job-item__list">
                <li class="job-item__item">Мужчины/ женщины</li>
                <li class="job-item__item">От 25 до 55 лет</li>
                <li class="job-item__item">Гражданство РФ</li>
              </ul>
              <span class="job-item__capture">Режим работы: <span>16/8</span></span>
              <span class="job-item__capture">Сменный график: <span>сутки через двое</span></span>
            </div>
            <div class="job-item__bottom centered">
              <a href="tel:+7(999)3999921" class="btn job-item__btn" title="+7(999)399-99-21">Позвонить</a>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>
