<section class="licence" id="licence">
  <div class="container">
    <h2 class="title2 licence__title" data-title="Деятельность лицензирована">Деятельность<br>лицензирована</h2>
    <p class="licence__desc desc">
      Работа с лицензированной охранной компанией, такой как ЧОП "Орион", несет в себе значительные преимущества. Лицензия подтверждает, что компания соответствует всем законодательным требованиям и стандартам качества, что является залогом надежности и профессионализма. Это не просто документ — это обещание нашим клиентам, что их безопасность находится в руках проверенных специалистов. Мы гордимся тем, что можем предложить вам услуги, стоящие на страже вашего спокойствия. Выбирая "Орион", вы выбираете спокойствие и уверенность в завтрашнем дне.
    </p>

    <div class="licence__slider swiper">
          <div class="licence__doc">
            <img src="http://placehold.it/400x650" alt="Документ 1">
          </div>
          <div class="licence__doc">
            <img src="http://placehold.it/400x650" alt="Документ 2">
          </div>
          <div class="licence__doc">
            <img src="http://placehold.it/400x650" alt="Документ 3">
          </div>
    </div>
  </div>
</section>
