<section class="reason" id="benefits">
  <div class="container">
    <h2 class="title2 reason__title" data-title="Преимущества">Почему работают в<br>ЧОП «Орион Секъюрити»</h2>
    <div class="reason__items">
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/home.png" alt="">
        </div>
        <div class="reason-item__text">
          Проживание на вахте <span>за счет ЧОП ОРИОН</span>
        </div>
      </div>
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/present.png" alt="">
        </div>
        <div class="reason-item__text">
          Отработка на вахте без замечаний <span>комплект формы в подарок</span>
        </div>
      </div>
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/money.png" alt="">
        </div>
        <div class="reason-item__text">
          <span>Еженедельное авансирование</span>
        </div>
      </div>
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/money.png" alt="">
        </div>
        <div class="reason-item__text">
          <span>Премии</span> по результатам работы за отчетный период
        </div>
      </div>
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/docs.png" alt="">
        </div>
        <div class="reason-item__text">
          <span>Помощь</span> в оформлении документов
        </div>
      </div>
      <div class="reason__item reason-item">
        <div class="reason-item__icon">
          <img src="./img/icons/coins.png" alt="">
        </div>
        <div class="reason-item__text">
          <span>Компенсация</span> затрат УЛЧО в размере 50%
        </div>
      </div>

    </div>
  </div>
</section>

