<section class="services" id="services">
  <div class="container">
    <h2 class="title2 services__title" data-title="Нашии услуги">Наши услуги</h2>
    <div class="services__container">
      <div class="services__item service">
        <div class="service__image">
          <picture>
            <source srcset="./img/services/01.webp" type="image/webp">
            <img src="./img/services/01.jpeg" alt="">
          </picture>
        </div>
        <div class="service__content">
          <span class="service__title">Услуги личной безопасности</span>

          <p class="service__desc">
            "Орион" предлагает премиальные услуги личной безопасности. Наши клиенты - это те, кто ценит свою безопасность и конфиденциальность. Мы обеспечиваем надежную защиту с использованием инновационных технологий и методик. Наш коллектив состоит из бывших сотрудников правоохранительных органов и военных специалистов. Мы предлагаем индивидуальный подход к каждому клиенту, гарантируя не только физическую защиту, но и информационную безопасность. Ваша безопасность - наша миссия.
          </p>
        </div>
      </div>
      <div class="services__item service">
        <div class="service__image">
          <picture>
            <source srcset="./img/services/02.webp" type="image/webp">
            <img src="./img/services/02.jpg" alt="">
          </picture>
        </div>
        <div class="service__content">
          <span class="service__title">Охрана объектов любой сложности</span>

          <p class="service__desc">
            ЧОП "Орион" предоставляет высококлассные услуги по охране объектов. Наша команда - это эксперты в области безопасности, готовые защитить вашу собственность от любых угроз. Мы используем современное оборудование и индивидуальные стратегии охраны, чтобы обеспечить максимальную защиту. Ваше спокойствие - наша работа. Наши охранники проходят строгий отбор и регулярное обучение, чтобы быть на шаг впереди потенциальных опасностей. Мы гарантируем конфиденциальность и профессионализм в каждом аспекте нашей работы, обеспечивая безопасность 24/7.
          </p>
        </div>
      </div>
      <div class="services__item service">
        <div class="service__image">
          <picture>
            <source srcset="./img/services/03.webp" type="image/webp">
            <img src="./img/services/03.jpeg" alt="">
          </picture>
        </div>
        <div class="service__content">
          <span class="service__title">Сопровождение грузов и вооруженная охрана</span>

          <p class="service__desc">
            Мы предлагаем комплексные решения для безопасности вашего бизнеса: от перевозки ценных грузов до обеспечения порядка на объектах. Наши сотрудники - это высококвалифицированные профессионалы, прошедшие строгий отбор и специальную подготовку. Мы используем современное оборудование и технику для максимальной защиты ваших активов. "Орион" гарантирует конфиденциальность и индивидуальный подход к каждому клиенту. Ваша безопасность - наш приоритет.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
